.container{
    text-align: center;
    background-color: #212121;
    width: 100rem;
    height:50rem;
}

.text{
    color: #b2b2b2;
}

.verde{
    background-color: green;
    width: 3rem;
    height:3rem;
}

.vermelho{
    background-color: red;
    width: 3rem;
    height:3rem;
}

.branco{
    background-color: #b2b2b2;
    width: 3rem;
    height:3rem;
}

.amarelo{
    background-color: yellow;
    width: 3rem;
    height:3rem;
}

